.footer {
    background-color: #3B312F;
    color: white;
    height: 90px;
    display: flex;
    align-items: center;
  }
  
#v{
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 30vh;
}
#c{
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  padding-right: 28vh;
}

  

  #row{
    margin-top: 10px;
  }
  
  
  
 

  
.text-right{
    color: aliceblue;
    
}