#calcul{
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

#ecr{
    margin-bottom: 120px;
}

#warning{
    align-items: center;
    text-align: center;
    font-size: large;
}

#pr{
    font-weight: 600;
    margin-top: 15px;
}
#et{
    margin-top: 5px;
}