#bar{
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
}

#step{
    display: flex;
    justify-content: center;
    align-items: center;
}

#confirmation{
    display: flex;
    justify-content: center;
    align-items: center;
}

#al{
    margin-top: 10px;
    position: 'absolute';
    opacity: 0.8;
    transition: 'opacity 0.5s ease-in-out';
}


#bouton{
    margin-right: 10px;
}
  